## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys, os
sys.path.append('..')
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,31,Lagoa,PT,21.84,few clouds,39.0500,-27.9833,Casa Das Faias
1,42,Iwanai,JP,24.11,overcast clouds,42.9744,140.5089,いわない高原ホテル
2,52,Sumbe,AO,21.29,clear sky,-11.2061,13.8437,Hotel Ritz Sumbe
3,55,Vila Franca Do Campo,PT,21.23,scattered clouds,37.7167,-25.4333,Pestana Bahia Praia
4,61,Puerto Ayora,EC,20.86,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °C</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5,layout={
        'width': '1550px',
        'height': '1000px',
        'padding': '3px',
        'border': '1px solid black'
})
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(border='1px solid black', height='1000px', padding='3px', width='1550px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Broome']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Saint Anthony']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Ironton']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Griffith']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Saint Anthony']
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
80,383,Saint Anthony,US,22.94,scattered clouds,45.0205,-93.218,"Holiday Inn Express Roseville-St. Paul, an IHG..."

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
end

array([45.0205, -93.218], dtype=object)

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
roadtrip = gmaps.directions_layer(start, start, 
                                  waypoints=[stop1, stop2, stop3],
                                  travel_mode="DRIVING")

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,355,Broome,US,22.21,clear sky,42.2506,-75.8330,Chenango Valley State Park
1,147,Ironton,US,24.90,clear sky,38.5368,-82.6829,Best Western River Cities
2,436,Griffith,US,24.47,clear sky,41.5284,-87.4237,"Motel 6 Hammond, IN - Chicago Area"
3,383,Saint Anthony,US,22.94,scattered clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure